extends ./layout/common
block common
    nav.navbar.navbar-expand-lg.navbar-light.bg-info
        a.navbar-brand(href='#')
            img(src="/logo/logo.jpg", alt="").d-inline-block.align-top.nav-img.mr-1
        .collapse.navbar-collapse
            .navbar-nav
                a.nav-item.nav-link(href='/') Home
                a.nav-item.nav-link(href='/auth')= `${userData?'Logout':'Login'}`
                a.nav-item.nav-link(href='/user') User
                a.nav-item.nav-link(href='/student') Student

    .container
        h1 Hi. 
          samp(style='color: red')=` ${userData?userData.name:'You'} !`
        h1(style='color: green')= `${userData?'Wellcome to manager app...':'Please login to continus..'}`
