extends ../layout/common
block common
    .container
        h1 This is create student component
        form(action="/student/createStudent" method="post")
            .input-group.input-group.mb-2
                .input-group-prepend 
                    span.input-group-text Frist name
                input.form-control(type="text", name ="fristname",value=value?value.na:"")
            .input-group.input-group.mb-2
                .input-group-prepend 
                    span.input-group-text Last name
                input.form-control(type="text", name ="lastname")
            .input-group.input-group.mb-2
                .input-group-prepend 
                    span.input-group-text Phone
                input.form-control(type="text", name ="phone")
            .input-group.input-group.mb-2
                .input-group-prepend 
                    span.input-group-text Address
                input.form-control(type="text", name ="address")
            .input-group.input-group.mb-2
                .input-group-prepend 
                    span.input-group-text Email
                input.form-control(type="text", name ="email")
            .input-group
                .input-group-prepend
                    span.input-group-text Description
                textarea.form-control(aria-label='With textarea',name="description")
            
            button.btn.btn-primary.mt-2 Create
            a.btn.btn-danger.mt-2.ml-1(href="/student") Cancel