extends ../layout/common
block common
    .container
        h1 This is student detail component
        form(action="/student/update", method ="POST")
            .input-group.input-group-lg.mb-3
                .input-group-prepend 
                    span.input-group-text Student ID
                input.form-control(type="text",name ="id", value=''+students.id)
            .input-group.input-group-lg.mb-3
                .input-group-prepend 
                    span.input-group-text Frist name
                input.form-control(type="text",name = "fristname", value=''+students.fristname)
            .input-group.input-group-lg.mb-3
                .input-group-prepend 
                    span.input-group-text Last name
                input.form-control(type="text",name = "lastname", value=''+students.lastname)
            .input-group.input-group-lg.mb-3
                .input-group-prepend 
                    span.input-group-text Phone
                input.form-control(type="text",name = "phone", value=''+students.phone)
            .input-group.input-group-lg.mb-3
                .input-group-prepend 
                    span.input-group-text Address
                input.form-control(type="text",name = "address", value=''+students.address)
            .input-group.input-group-lg.mb-3
                .input-group-prepend 
                    span.input-group-text Email
                input.form-control(type="text",name = "email", value=''+students.email)
            .input-group.input-group-lg.mb-3
                    .input-group-prepend
                        span.input-group-text Description
                    textarea.form-control(aria-label='With textarea', name = "description")=students.description
            a.btn.btn-danger.mt-1(href="/student") Back
            button.btn.btn-primary.mt-1.ml-1 Update